@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #fff8f1;
  color: #2d3748;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}